In [1]:
import pandas as pd # 판다스를 불러온다

In [2]:
# 각 열들의 데이터를 생성한다.

titles = ['Skyfall', 'Lose Yourself', 'Another Brick in the Wall', 'Use Somebody', 'Treasure']
Artists = ['Adele', 'Eminem', 'Pink Floyd', 'Kings of Leon', 'Bruno Mars']
Lengths = ['4:46', '5:26', '3:59', '3:51', '2:58']
Years = [2012, 2002, 1979, 2008, 2013]

In [6]:
# 각 항목 별로 위에 있는 벡터를 넣어주는 데이터 프레임을 df에 저장한다.

df = pd.DataFrame({'Title':titles, 'Artist':Artists, 'Length':Lengths, 'Year':Years})

In [7]:
df

          Artist Length                      Title  Year
0          Adele   4:46                    Skyfall  2012
1         Eminem   5:26              Lose Yourself  2002
2     Pink Floyd   3:59  Another Brick in the Wall  1979
3  Kings of Leon   3:51               Use Somebody  2008
4     Bruno Mars   2:58                   Treasure  2013

In [37]:
# title에 해당하는 값들을 소문자로 바꿔서 리스트의 형태로 출력한다. (내 방법은 안좋은 방법)

title_lowercase = [df.Title[0].lower(),df.Title[1].lower(),df.Title[2].lower(),df.Title[3].lower(),df.Title[4].lower()]

In [38]:
title_lowercase

['skyfall',
 'lose yourself',
 'another brick in the wall',
 'use somebody',
 'treasure']

In [45]:
# 위에 문제에 대한 조교님 솔루션

title_lowercase = [t.lower() for t in df['Title']]

In [46]:
title_lowercase

['skyfall',
 'lose yourself',
 'another brick in the wall',
 'use somebody',
 'treasure']

In [47]:
# excel 파일을 불러들인다.

df2 = pd.read_excel('animals.xlsx')
df2

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
6,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
7,carp,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,4
8,catfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
9,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1
10,cheetah,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
11,chicken,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2
12,chub,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
13,clam,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,7
14,crab,0,0,1,0,0,1,1,0,0,0,0,0,4,0,0,0,7
15,crayfish,0,0,1,0,0,1,1,0,0,0,0,0,6,0,0,0,7
16,crow,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0,2
17,deer,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
18,dogfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
19,dolphin,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1,1
20,dove,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2
21,duck,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,0,2
22,elephant,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
23,flamingo,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,1,2
24,flea,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
25,frog,0,0,1,0,0,1,1,1,1,1,0,0,4,0,0,0,5
26,frog,0,0,1,0,0,1,1,1,1,1,1,0,4,0,0,0,5
27,fruitbat,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
28,giraffe,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
29,girl,1,0,0,1,0,0,1,1,1,1,0,0,2,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,rhea,0,1,1,0,0,0,1,0,1,1,0,0,2,1,0,1,2
72,scorpion,0,0,0,0,0,0,1,0,0,1,1,0,8,1,0,0,7
73,seahorse,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,4
74,seal,1,0,0,1,0,1,1,1,1,1,0,1,0,0,0,1,1
75,sealion,1,0,0,1,0,1,1,1,1,1,0,1,2,1,0,1,1
76,seasnake,0,0,0,0,0,1,1,1,1,0,1,0,0,1,0,0,3
77,seawasp,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,7
78,skimmer,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
79,skua,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
80,slowworm,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,0,3
81,slug,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
82,sole,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,4
83,sparrow,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2
84,squirrel,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,0,1
85,starfish,0,0,1,0,0,1,1,0,0,0,0,0,5,0,0,0,7
86,stingray,0,0,1,0,0,1,1,1,1,0,1,1,0,1,0,1,4
87,swan,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,1,2
88,termite,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
89,toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
90,tortoise,0,0,1,0,0,0,0,0,1,1,0,0,4,1,0,1,3
91,tuatara,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
92,tuna,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
93,vampire,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
94,vole,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1
95,vulture,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,1,2
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [56]:
# loc 함수를 이용해서 위의 데이터를 행 또는 열의 기준으로 잘라낸다.

animals = df2.loc[:, ['name', 'hair', 'feathers']]
animals

         name  hair  feathers
0    aardvark     1         0
1    antelope     1         0
2        bass     0         0
3        bear     1         0
4        boar     1         0
5     buffalo     1         0
6        calf     1         0
7        carp     0         0
8     catfish     0         0
9        cavy     1         0
10    cheetah     1         0
11    chicken     0         1
12       chub     0         0
13       clam     0         0
14       crab     0         0
15   crayfish     0         0
16       crow     0         1
17       deer     1         0
18    dogfish     0         0
19    dolphin     0         0
20       dove     0         1
21       duck     0         1
22   elephant     1         0
23   flamingo     0         1
24       flea     0         0
25       frog     0         0
26       frog     0         0
27   fruitbat     1         0
28    giraffe     1         0
29       girl     1         0
..        ...   ...       ...
71       rhea     0         1
72   scorpion     0         0
73   seahorse     0         0
74       seal     1         0
75    sealion     1         0
76   seasnake     0         0
77    seawasp     0         0
78    skimmer     0         1
79       skua     0         1
80   slowworm     0         0
81       slug     0         0
82       sole     0         0
83    sparrow     0         1
84   squirrel     1         0
85   starfish     0         0
86   stingray     0         0
87       swan     0         1
88    termite     0         0
89       toad     0         0
90   tortoise     0         0
91    tuatara     0         0
92       tuna     0         0
93    vampire     1         0
94       vole     1         0
95    vulture     0         1
96    wallaby     1         0
97       wasp     1         0
98       wolf     1         0
99       worm     0         0
100      wren     0         1

[101 rows x 3 columns]

In [59]:
# 만든 데이터를 엑셀 파일로 내보낸다.

animals.to_excel('animals_sub.xlsx')